<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">
	<select id="findAll" resultType="com.fcjava.dto.ProductDTO">
		SELECT prd_no AS productNo,
		       prd_category AS category,
		       prd_name AS name,
		       prd_price AS price,
		       prd_image AS image,
		       prd_memo AS memo,
		       prd_brand AS brand
		FROM fc_java.prdinfo;
	</select>
	
	<select id="findById" parameterType="java.lang.String" resultType="com.fcjava.dto.ProductDTO">
		SELECT prd_no AS productNo,
		       prd_category AS category,
		       prd_name AS name,
		       prd_price AS price,
		       prd_image AS image,
		       prd_memo AS memo,
		       prd_brand AS brand
		FROM fc_java.prdinfo
		WHERE prd_no = #{productId};
	</select>
	
	<insert id="insertProduct" parameterType="com.fcjava.dto.ProductDTO">
		insert into fc_java.prdinfo
		values(#{productNo},#{category},#{name},#{price},#{image},#{memo},#{brand});
	</insert>
	
	<delete id="deleteProduct" parameterType="java.lang.String">
		DELETE FROM fc_java_prdinfo
		WHERE prd_no = #{productId};
	</delete>
</mapper>
