<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team">
	<select id="countTeam" resultType="java.lang.Integer">
		SELECT COUNT(*) 
		FROM fc_java.pl_info 
		WHERE id = #{id};
	</select>
	
	<select id="selectTeamList" resultType="com.fcjava.dto.TeamDTO">
		SELECT * 
		FROM fc_java.team_info
		ORDER BY t_c_day DESC;
	</select>

	<select id="existsTeamName" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM fc_java.team_info
		WHERE BINARY t_name = #{teamName};
	</select>

	<select id="selectLatestTeamNumByUser" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT t_num
		FROM fc_java.team_info
		WHERE BINARY id = #{id}
		ORDER BY t_c_day DESC
		LIMIT 1;
	</select>

	<insert id="insertTeam" parameterType="com.fcjava.dto.TeamDTO">
		INSERT INTO fc_java.team_info
		(t_num, id, t_name, t_logo, hom_city, week_time, t_info, t_c_day, max_p_num, t_skill, t_sns, t_age)
		VALUES (default, #{id}, #{t_name}, #{t_logo}, #{hom_city}, #{week_time}, #{t_info}, now(), #{max_p_num}, #{t_skill}, #{t_sns}, #{t_age});
	</insert>
	
	<select id="indexTeamList" resultType="com.fcjava.dto.TeamDTO">
		SELECT *
		FROM fc_java.team_info
		ORDER BY t_c_day DESC
		LIMIT 3;
	</select>
	
	<select id="refrashMyTeamList" parameterType="java.lang.String" resultType="com.fcjava.dto.TeamDTO">
		SELECT team.* 
		FROM fc_java.team_info team
		JOIN fc_java.pl_info player
		ON team.t_num = player.t_num 
		WHERE player.id = #{id}
		ORDER BY player.pl_ap_date DESC;
	</select>
	
	<select id="searchTeamList" parameterType="java.util.Map" resultType="com.fcjava.dto.TeamDTO">
		SELECT *
	    FROM fc_java.team_info
	    WHERE 1=1
	    <if test="t_name != null and t_name != ''">
	    	AND t_name LIKE CONCAT('%', #{t_name}, '%')
	    </if>
	    <if test="hom_city != null">
	        AND hom_city IN
	        <foreach item="city" collection="hom_city" open="(" separator="," close=")">
	            #{city}
	        </foreach>
	    </if>
	    <if test="week_time != null">
		    AND week_time REGEXP #{week_time}
		</if>
	    <if test="t_skill != null">
	        AND t_skill IN
	        <foreach item="skill" collection="t_skill" open="(" separator="," close=")">
	            #{skill}
	        </foreach>
	    </if>
	    ORDER BY t_c_day DESC;
	</select>
	
	<select id="selectTeam" resultType="com.fcjava.dto.TeamDTO">
		SELECT *
		FROM fc_java.team_info
		WHERE t_num = #{t_num};
	</select>
	
	<select id="selectPlayerList" resultType="com.fcjava.dto.PlayerDTO">
		SELECT pl.*, mem.b_day, mem.gender 
		FROM fc_java.pl_info pl
		JOIN fc_java.mem_info mem
		ON pl.id = mem.id 
		WHERE pl.t_num = #{t_num};
	</select>
	
	<insert id="insertPlayerApply" parameterType="com.fcjava.dto.PlayerDTO">
		INSERT INTO fc_java.pl_info
		(t_num, id, pl_pic, back_num, position, pl_memo, height, weight)
		VALUES (#{t_num}, #{id}
		<choose>
			<when test="pl_pic != null">,#{pl_pic}</when>
			<otherwise>,null</otherwise>
		</choose>
		, #{back_num}, #{position}
		<choose>
			<when test="pl_memo != null">,#{pl_memo}</when>
			<otherwise>,null</otherwise>
		</choose>
		<choose>
			<when test="height != null">,#{height}</when>
			<otherwise>,null</otherwise>
		</choose><choose>
			<when test="weight != null">,#{weight}</when>
			<otherwise>,null</otherwise>
		</choose>
		);
	</insert>
	
	<delete id="deleteTeamSecession" parameterType="com.fcjava.dto.PlayerDTO">
		DELETE FROM fc_java.pl_info
		WHERE t_num = #{t_num}
		  AND id = #{id};
	</delete>
	
	<select id="selectScheduleList" parameterType="java.lang.String" resultType="com.fcjava.dto.TeamScheduleDTO">
		SELECT sta_booking.b_date as reserdate, sta_booking.b_tiem as resertime, sta_booking.b_bk_tiem as receiptdate, sta_booking.b_vs_team as vs_team, sta_booking.b_vs_team_num as vs_team_num,
				stadium.g_name as groundname, stadium.g_add as groundaddr,  
				IFNULL(team_info.t_logo, null) AS vs_team_logo, IFNULL(team_info.t_name, null) AS vs_teamNames
		FROM sta_booking 
		JOIN stadium
		ON sta_booking.b_ground_no = stadium.g_no 
		LEFT JOIN team_info
		ON sta_booking.b_vs_team_num = team_info.t_num
		WHERE sta_booking.b_team_no = #{teamNumber}
		ORDER BY sta_booking.b_date DESC;
	</select>
	
	<select id="selectFormations" resultType="com.fcjava.dto.TeamFormationDTO">
		SELECT * 
		FROM fc_java.t_formation 
		WHERE t_num = #{t_num}
		ORDER BY create_date DESC, formation_num ASC;
	</select>
	
	<select id="isFormationName" resultType="com.fcjava.dto.TeamFormationDTO">
		SELECT * 
		FROM fc_java.t_formation 
		WHERE t_num = #{t_num}
		  AND formation_name = #{formation_name};
	</select>
	
	<insert id="createFormation" parameterType="com.fcjava.dto.TeamFormationDTO">
		INSERT INTO fc_java.t_formation (t_num, formation, formation_name, position_num, player_id)
		VALUES (#{t_num},#{formation},#{formation_name},#{position_num},#{player_id});
	</insert>
	
	<select id="selectTeamGameAllResult" resultType="com.fcjava.dto.TeamGameResultDTO">
	SELECT game.game_name, gr1.game_type, gr1.game_date, game.game_place,
		   team1.t_logo as team1_logo,team1.t_name as team1_name, gr1.team1_score,
		   team2.t_logo as team2_logo, team2.t_name as team2_name, gr1.team2_score
	FROM game_result gr1
	JOIN game ON gr1.game_num = game.game_num
	JOIN team_info AS team1 ON gr1.team1_num = team1.t_num
	JOIN team_info AS team2 ON gr1.team2_num = team2.t_num
	WHERE (gr1.team1_num = #{teamNumber} OR gr1.team2_num = #{teamNumber})
	AND gr1.game_num IN (
	    SELECT temp.game_num
	    FROM (
	        SELECT game_num, MIN(game_type) AS min_game_type
	        FROM game_result
	        WHERE team1_num = #{teamNumber} OR team2_num = #{teamNumber}
	        GROUP BY game_num
	    ) AS temp
	    WHERE gr1.game_num = temp.game_num AND gr1.game_type = temp.min_game_type
	)
	ORDER BY gr1.game_date DESC;
	</select>
	

</mapper>
