body {
    margin: 0;
}
.formationline {
    width: 950px;
    height: 28px;
    margin: 15px auto 10px auto;
    border: 1px solid #bebebe;
}

.plusformation {
    width: 140px;
    height: 28px;
    background-color: #bebebe;
    margin-left: 40px;
    border: 1px solid #404040;
    border-radius: 4px;
}

.formation {
    width: 1176px;
    height: 735px;
    margin: 0 auto;
}
img {
    width: 572px;
    height: 765px;
    margin-left: 40px;
}
.playerarea {
    width: 480px;
    height: 765px;
    border: 1px solid #bebebe;
    float: right;
    margin-right: 40px;
}
.player {
    width: 400px;
    height: 60px;
    margin: 6px auto 6px auto;
    background-color: rgb(218, 148, 162);
}
.setformation {
    display: block;
    width: 100px;
    margin: 0 auto;
}