.indexSection {
	width: 1280px;
	margin: 0 auto;
}
.topSwiper {
	height: 700px;
}
.topSwiper img {
	width: 100%;
	height: 100%;
    object-fit: cover;
}
.contentBox {
	margin-bottom: 40px;
}
.contentBox:nth-of-type(2) {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 40px;
}
.aashow {
	width: 620px;
	display: flex;
	border: 1px solid #ebebeb;
}
#notice {
	width: 100%;
}
.accordion-header .accordion-button {
    font-size: 12pt;
}
.teamShow {
	width: 620px;
	height: 213px;
	border: 1px solid #ebebeb;
}
.iGroundBox {
    display: flex;
	border: 1px solid;
	background-color: rgb(235, 230, 230);
    padding: 30px;
}
.tm_box {
	width: 50px;
	height: 30px;
	margin: 1px;
	background-color: #ffffff;
	border: 1px solid red;
	display: inline-block;
}
.time_box {
	border: 1px solid red;
    background-color: white;
    display: inline-block;
    padding: 4px;
}
.reserBtn {
	background-color: black;
	color: white;
	padding: 16px 21px;
}
.team-tab {
	display: flex;
}
.team-tab .tab {
	cursor: pointer;
	padding: 9px 45px;
	font-weight: 600;
    color: black;
    background: #76DC90;
    border-right: 1px solid #67c07c;
    border-top: 1px solid #67c07c;
    text-align: center;
    flex-grow: 1;
}
.team-tab .tab:first-child {
	border-left: 1px solid #67c07c;
}
.team-tab .tab-focus {
	color: white;
    background-color: #44435B;
}
#standings {
    height: 316px;
    overflow: auto;
}
#standings::-webkit-scrollbar {
	width: 10px;
	background: #e6e6e9;
}
#standings::-webkit-scrollbar-thumb {
	background-color: #44435B;
}
.leagueSubLabel {
	display: flex;
	border-bottom: 1px solid;
    padding: 8px 35px 8px 25px;
    text-align: center;
}
.leagueSubLabel .leagueLabelItem {
	width: 140px;
}
.leagueSubLabel .leagueLabelItem:nth-child(2) {
	width: 100%;
	text-align: left;
}
.clubLine {
	display: flex;
	align-items: center;
    border-bottom: 1px solid;
    padding: 3px 25px;
    font-size: 10pt;
}
.clubLine .clubItem {
    text-align: center;
    font-weight: bold;
}
.clubLine .clubItem {
	width: 140px;
}
.clubLine .clubItem:nth-child(2) {
	width: 100%;
}
.clubName {
	display: flex;
    align-items: center;
}
.prdList {
	display: flex;
	justify-content: space-between;
}
.prdList li img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	background-color: #F5F5F5;
}
.crestBox {
	margin-right: 12px
}
.crestBox img {
	width: 30px;
	height: 30px;
	object-fit: cover;
}
.title_h {
	font-size: 21px;
    color: #3e3d55;
    line-height: 50px;
    font-weight: 700;
}
.title_h:last-of-type {
	display: flex;
	justify-content: space-between;
}
.teamTitle {
	margin-bottom: 25px;
}
.teamCard {
	display: flex;
	gap: 35px;
    align-items: center;
    padding: 30px 56px;
}
.teamInfo {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px 0;
}

.teamInfo p {
	margin: 0;
}
.teamImg img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border: 1px solid #ebebeb;
	border-radius: 50%;
}

.mainb .swiper-pagination-bullet {
    width: 50px;
	border-radius: 0;
	background-color: #d7d7d7;
	opacity: 0.5;
}
.mainb .swiper-pagination-bullet-active {
   	opacity: 1;
	background: #b22222;
}
.teamShow .swiper-button-next ,.teamShow  .swiper-button-prev {
	color: #44435B !important;
}
.teamShow .swiper-pagination-bullet-active {
	background-color: #44435B !important;
}
.moreLink a{
    font-size: 10pt;
}
.moreLink a:link, .moreLink a:visited {
	color: gray;
}