body{
    font-family: "Noto Sans KR", sans-serif;
}

ul{
    margin: 0;
    padding: 0;
}
.minfor{
    width: 310px;
    height: 50px;
    margin-left: 160px;
}

.infor{
	overflow: auto;
	background-color: rgb(235, 230, 230);
	margin-bottom: 21px;
}

.mt{
    width: 300px;
    font-size: 24px;
    height: -200px;
    margin-left: 285px;
    height: 60px;
    margin-top: 30px; 
}

.pp {
    line-height: 35px;
}

.opt1{
    width : 540px;
    height: 70px;
    margin: 0 auto;
    
}

.container {
    width: 370px;
    height: 10px;
    margin: 0 auto;
  }


.section { 
    width: 1280px;
    height: 1500px;
    margin: 0 auto;
   
}

.section1 { 
    width: 1280px;
    height: 180px;
    margin: 0 auto;
   
}
.left{
    float : left;
    margin-left: 5px;
    margin-top: 10px;
}
.swiper{
    float: left;
    width: 300px;
    height: 200px;
    margin-left: 15px;
    /* background-color: red; */
    top: 20px;
}
.mainbox{
    width: 500px;
    height: 500px;
    background-color: rgb(81, 255, 0);
}

.sum1{
    width: 1280px;
    margin: 30px auto;
    overflow: auto;
}
.sum2{
    width: 1280px;
    height: 240px;
    margin-top: 30px;
    /* margin-left: 313px; */
    background-color: rgb(235, 230, 230);
}
   
.imggj{
    width: 375px;
    height: 195px;

}
.ft{
    width: auto;
    height: 50px;
    margin: 0 auto;
background-color: brown;
}

.mbox{
    width: 300px;
    height: 200px;
    margin-left: 320px;
    background-color: aqua;
}


.mbox1{
    float: left;
    width: 260px;
    height: 200px;
    margin-left: 10px;


    }
.stm_tiembox{
    width: 480px;
    height: 240px;
    float: left;

}


/*슬라이드*/
.box_si{
    box-sizing: border-box;
    margin: 2px;
}
.box-wrap {
    width: 100%; /* Takes full width of the form */
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
    justify-content: space-between; /* Distributes space between checkboxes evenly */
    padding: 10px 0; /* Adds padding above and below the checkbox row */
}
.box-wrap1 {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    font-size: 14px;
    line-height: 2;
    margin-left: 595px;
}
.sum2_box-wrap {

    display: flex;
    flex-direction: row;
    margin-top: 45px;
    font-size: 14px;
    float: left;
    line-height: 2;
}
.sum2_box-wrap1 {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    font-size: 14px;
    line-height: 2;
    margin-left: 595px;
}



.tm_box{
    margin: 1px;
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
}

.slidebox{
    width: 310px;
    height: 310px;
}

.ord {
    height: 30px; /* Increased height for better spacing */
    margin-left: 200px;
    margin-bottom: 20px; /* Adds space below the date input */
}

.bt{
    width: 100px;
    height: 10px;
    float: left;
    /* margin-top: 15px; */
    margin-left: 175px;
}

.won{
    width: 124px;
    height: 10px;
    float: left;
 
}
.won_box {
    width: 150px;
    height: 40px;
    border: 2px solid gray;
    padding: 1px 12px;
    float: left;
    margin-top: 170px;
}
.stm_jb{
    width: 20px;
    height: 20px;
    margin-right: 8px;
    float: left;
}
/* ----------------------구장 목록------------------------------------- */
.stm_cont{
    width: 1280px;
    margin: 0 auto;
}
.stm_teamsearch {
    width: 1265px;
    margin: 0 auto 30px auto;
    border: 1px solid gray;
    padding: 32px 32px;
    border-radius: 9px;
}

.stm_checkbox{
    margin-right: 15px;
}

.stm_teamsearch1 {
    width: 690px;
    margin: 30px auto;

}
/* 이미지 슬라이드 버튼 색상 */ 
.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #b22222;
}
/* 지역 버튼 클릭시 색상 */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: #b22222;
    font-weight: normal;
    color: #fff;
}

input[type="submit"] {
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 10px;
    width: 200px;
    height: 40px;
}

#chkSearch1 {
    margin-left: 200px;
    margin-right: 10px;
}
.slabel > #chkSearch1 {
    cursor: pointer;
}
.slabel > #chkSearch1:active {
    background-color: #b22222;
}
.slabel{
	margin-top: 30px;ss
}

