.history_bar {
	margin: 30px 0;
    border-bottom: 1px solid #dbdbdb;
}
.shop_de_section {
	width: 1280px;
	margin: 0 auto;
    margin-bottom: 60px;
}
.prdetail {
	display: flex;
    justify-content: space-between;
}
.prd_left {
	width: 620px;
}
.prd_img {
	border: 1px solid #e2e2e2;
	background-color: #f5f5f5;
}
.prd_img img {
	width: 618px;
	height: 618px;
	background-color: #f5f5f5;
}
.prd_img_list {
	display: flex;
	gap: 11px;
} 
.prd_thum .prd_img_list li {
	width: 115px;
	background-color: #f5f5f5;
}
.prd_thum .prd_img_list li img {
	width: 115px;
	border: 1px solid #e2e2e2;
	background-color: #f5f5f5;
}
.prd_right {
	width: 575px;
	padding-left: 40px;
	border-left: 1px solid #dbdbdb;
}
.prd_name {
	font-size: 28px;
	font-weight: 700;
}
.prd_etc .prd_price_txt {
	color: #737272;
	text-align: right;
}
.prd_etc .prd_price_txt .prd_price {
	color: #ff4200;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}
.prd_etc .prd_price_txt .won {
    font-size: 30px;
    font-weight: bold;
}
.buyBtn {
	width: 100%;
	color: white;
	background-color: black;
	border-radius: 10px;
	padding: 8px 48px;
}
.de_info {
	font-size: 14px;
    padding: 37px 71px;
    border: 1px solid;
    width: 1024px;
    margin: 0 auto;
}
.sugPrd {
	font-size: 16pt;
}
.prd_comment {
	border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 15px 0;
}
.prd_comment table {
	width: 100%;
}
.prd_comment table tr td {
	margin: 8px 0;
	display: inline-block;
}
.prd_etc {
	margin: 15px 0;
}
.prd_label {
	width: 200px;
}