.content {
	width: 1280px;
	margin: 0 auto;
}
.prdTop .title {
	margin-top: 50px;
	font-size: 24pt;
}
.prdList {
	display: flex;
    width: inherit;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 50px;
    margin-top: 20px;
}
.prdItem {
	width: 200px;
	display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.prdItem img{
	width: 200px;
	height: 200px;
	background-color: #F5F5F5;
}
.prdtext {
	width: 200px;
	height: 40px;
	font-weight: bold;
	font-size: 13px;
	margin-top: 10px;
	margin-bottom: 0;
}
.prdprice {
	margin-top: 5px;
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 0;
}
.prdSearch {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}
.searchBtn {
	width: 100px;
	height: 50px;
	border-radius: 10px;
	background: #000;
	color: white;
}
.searchBox {
	width: 360px;
	border-radius: 10px;
	border: 2px solid darkgrey;
	padding: 0 8px;
}