.shop_de_section {
    width: 1280px;
min-height : 1200px;
    margin: 0 auto;

}

.sh_de1 {

    width: 100%;
    float: left;

}


.shop_de_section ul li {
    list-style: none;
    display: inline-block;
    background-color: aquamarine;
    margin-right: 10px;
    width: 70px;
    height: 70px;

}



.sum_box{
    width:1280px;
}

.text_box {
    width: 680px;
    float: left;

}

.opt_box { 
	width : 500px;
	float : left;
}
.de_title {
    font-size: 24pt;
    line-height: 60px;
    margin-top: 120px;
}

.de_title2 {
    width: 1280px;
    font-size: 20pt;
    float: left;
   margin: 20px auto;
}


.image_box {
    width: 600px;
    float: left;
}

.btn_de1 {

    margin-top: 20px;
    margin-bottom: 20px;
    width: 450px;
    height: 40px;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.ct1 {
    width: 1280px;
    overflow: auto;
    margin-bottom: 30px;
}

.pr1 {
    font-size: 16pt;
}


.labtn1 { 
	display : inline-block;
	line-height:40px;
	text-align :center;
	width : 100px; 
	height: 40px; 
	border-radius : 10px;
	border-width : 1px;
	border-style : solid; 
	border-color : black;
	background-color: white;
	margin : 5px;
	color: black ;
	
}

.dinon{
	display: none;
}
.dinon:checked + label {
	
	display : inline-block;
	line-height:40px;
	text-align :center;
	width : 100px; 
	height: 40px; 
	background-color: black;
	color: white;

}




.swiper{
    width :100%;
    margin: auto;
}

a {
    text-decoration-line: none;
}

.ma1 {
	
margin-top: 30px;
margin-bottom: 30px; 

	}
	

