.section {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.div0 {
    width: 92%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.fdimg, .imgbox, .imgord, .bt, .div1, .div2, .div3, .tab, .dvi4 {
    margin: 10px;
}

.fdimg {
    width: 800px;
    display: flex;
    justify-content: center;
    overflow: hidden; /* 이미지가 div를 벗어나지 않도록 함 */
}

.imgbox, .imgord {
    position: relative;
    margin-top: -20px; /* 이전 요소와의 간격 조절 */
}

.bt22 {
    width: auto; /* 버튼의 기본 너비를 사용 */
    height: auto; /* 버튼의 기본 높이를 사용 */
    margin-top: 20px;
}

.tab {
    width: 300px;
    margin: 0 auto;
/*     background-color: yellow; */
}

.dvi4 {
    width: 900px;
}

.gpsbox {
    height: auto; 
    border: 2px solid #9b9b9b;
      width: 100%;
    /* margin: 20px auto; */
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.swiper{
    float: left;
    width: 900px;
    margin-left: 15px;
    /* background-color: red; */
    top: 20px;
}

        .rules-flex-container {
            display: flex; 
            /* justify-content: space-between;  */
            padding: 15px;
            background-color: #fff; 
            margin-top: 15px;
        }
        
        .rule-part {
            flex: 1; 
            margin: 0 10px; 
        }

      
        .rule-part .tab {
            width: 100%; 
            table-layout: fixed; 
        }
        
        /*  */

.container {
	width: 80%; 
	margin: auto;
	overflow: hidden;
}
.container_box {
	width: 70%; /* 66 */
	margin: auto;
	border: 2px solid #9b9b9b;
	
	
}

.soccer-field {
	/* background-color: #228B22; */
	padding: 20px;

	margin-top: 20px;
}

.rules {
	background-color: #fff;
	padding: 15px;
	margin-top: 15px;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	cursor: pointer;
	background-color: #333;
	color: white;
	border: none;
	margin-top: 10px;
}
.lvbox{
	width: 250px;
}

.qabox{
	width: 300px;
	margin-left:auto;

}
.mubox{
	width: 70%;
    margin: 0 auto;
    border: 2px solid #9b9b9b;
	margin-top: 10px;
}
.tmbox{
	width: 200px;
	margin: 0 auto;	
}
.tmbox1{
 display: block;
}

 /*  */
 #live-chat {
  position: fixed;
  bottom: 20px;
  right: 110px;
  border: none;
  border-radius: 16px;
  background: royalblue;
  color: white;
  padding: 12px;
  font-weight: bold;
  box-shadow: 0px 5px 15px gray;
  cursor: pointer;
}

body {
  height: 200vh;
}
.rulebox{
		margin-left: 190px;
}
.gps1{
	margin-left: 266px;
}
