.booking_Main{
	min-height: 856px;
}
booking_top{
	padding: 40px 0 0 0;
}
.top-title {
    width: 1280px;
    margin: 0 auto;
    border-bottom: 2px solid #444;
    display: flex;
    gap: 12px;
}
.booking_content {
    width: 1280px;
    margin: 0 auto;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.gameMain_area {
    width: calc(100% - 192px);
}



.main_bottom {
    height: 65px;
    border: 1px solid #cccccc;
    border-radius: 12px;
    padding: 10px 6px;
}
.main_bottom1 {
    height: 200px;
    margin-top: 10px;
    border: 1px solid #cccccc;
    border-radius: 12px;
    padding: 10px 6px;
}
.no-apply {
    text-align: center;
    height: 345px;
    line-height: 345px;
}
.gameMain_area h4 {
    margin: 25px 0;
}

/* 예약 */
.booking_area {
/*     width: 384px; */
    height: 100%;
    position: sticky;
    top: 70px;
}

.apply_content {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.booking_info {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: repeat(5, minmax(0px, auto));
    align-items: center;
    gap: 16px 13px;
    background: hsla(225, 5%, 46%, .05);
    border-radius: 12px;
    padding: 14px 12px 14px 20px;
}
  .booking_info .booking_label {
    text-align: center;
    font-weight: bold;
}

.booking_info .booking_data {
    font-size: 13pt;
}

.apply_btn {
    width: -webkit-fill-available;
    border: none;
    padding: 0 28px;
    color: #fff;
    background-color: #444;
    border-radius: 10px;
    height: 48px;
    cursor: pointer;
    
}
.apply_btn:active {/* 클릭했을 때의 배경색 변경 */
    background-color: #b22222; 
}

table th {
   width: 250px;
/*    background: #ccc; */
} 
th img {
        margin-right: 15px; /* 오른쪽 여백을 10px로 설정 */
    }
    input[type="button"] {
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 10px;
    width: 200px;
    height: 40px;
}
/* 라디오 버튼 */
.radio-button {
  background-color: #f0f0f0;
  color: black;
  border: 2px solid gray;
  padding: 10px 20px;
  cursor: pointer;
}

.radio-button.active {
  background-color: #4CAF50; /* 선택된 버튼 색상 */
  color: white;
  border-color: #4CAF50;
}
