.inner {
  position: relative;
  width: 600px;
  height: 40px;
  margin: 20px auto;
  border: 3px solid #bdc1c6;
  border-radius: 5px;
}

input {
  width: 100%;
  height: 100%;
  border-color: #bdc1c6;
  border: 0px;
  font-size: 16px;
  outline: none;
}

.searching {
  position: absolute;
  left: 10px;
  top: 20%;
}

i:hover {
  cursor: pointer;
}

.icon_ect {
  position: absolute;
  right: 10px;
  top: 20%;
}

.fa-keyboard {
  margin-right: 10px;
}

/**/
.image-container {
    width: 1280px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.image-container img {
    flex-basis: calc(30% - 20px); 
    height: auto;
    object-fit: cover; 
    
}

.image-container a {
	width: 400px;
	height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;; 
    text-align: left; 
    margin-bottom: 20px; 
    text-decoration: none;
 
}

.image-container img {
    width: 100%; 
}


.str_qa_box{

margin: 0 auto;
/* background-color: aqua; */
}


#searchType {
    width: 120px; 
    height: 30px; 
    font-size: 16px; 
}
.qa_top{
	width: 100%;
    margin: auto;
    display: block;
    background-color: #e6e6e6;
}
.text_qa1{
	padding: 32px 0px;
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
}
.text_qa2{
		margin-top : 20pt;
	text-align: center;
	font-size: 10pt;
}

.qa_box1 {
    width: 500px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 310px;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #333333; /* 테두리 추가 */
   	padding: 10px;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.s_box_qa {
    width: 1280px;
    /* min-height: 1430px; */
    margin: auto;
    overflow: auto;
}

