@charset "UTF-8";
.teamArea {
	display: flex;
    width: 1280px;
    margin: 0 auto;
    padding: 50px 0;
    gap: 20px;
    min-height: 856px;
}
.left-teamInfo {
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    gap: 20px;
    padding: 15px 15px;
    border: 1px solid #ebebeb;
}
.team-img {
	width: 150px;
	height: 150px;
}
.team-img img {
	border: 1px solid #ebebeb;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.team-info {
	width: 100%;
	text-align: center;
}
.team-info h2 {
	margin-bottom: 15px;
}
.team-info label {
	font-size: 10pt;
    font-weight: 600;
    color: #7F7F7F;
}
.subArea {
	width: 100%;
}
.applyleaveBtn {
	width: -webkit-fill-available;
	height: 40px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
.joinTeam {
	background-color: #035177;
	color: white;
}
.leaveTeam {
	background-color: #b22222;
	color: white;
}
.player-intro p {
	margin: 0;
}
#pl_memo {
	width: 400px;
	resize: none;
	height: 90px;
}
.right-info {
	width: 80%;
    border: 1px solid #ebebeb;
    padding: 0 20px;
}
.team-tab {
	display: flex;
	gap: 20px;
	padding: 16px 0;
}
.team-tab .tab {
	cursor: pointer;
	padding: 6px 4px;
	font-weight: 600;
    color: gray;
}
.team-tab .tab-focus {
	border-bottom: 2px solid;
	color: black;
}
#teamApplyForm {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}
.player-photo {
	width: 150px;
	height: 150px;
	margin: 0 auto;
}
.player-photo img {
	width: inherit;
    height: inherit;
    border-radius: 50%;
    border: 1px solid #ebebeb;
}
select[name="position"] {
	width: -webkit-fill-available;
}
.stopApply p {
	color: #086ded;
    font-size: 10pt;
    font-weight: bold;
}
.side-top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.side-player {
	display: flex;
}
.side-player > span {
	font-size: 15pt;
}
.side-player > span +span {
	font-size: 10pt;
	font-weight: 600;
}
.side-bottom {
	width: 100%;
}
.side-bottom h4 {
	text-align: center;
}
.side-bottom .side-memo {
    width: 100%;
    border: 1px solid #ebebeb;
    min-height: 80px;
    font-size: 11pt;
}
.player-number {
	padding: 4px 0;
}
.player-number strong {
	color: #b22222;
}
.player-area {
	display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-color: #424254;
	color: #f7f7f9;
	padding: 4px 0;
}
.player-area .player-sub-name {
	width: 238px;
}
.player-area .player-sub-backnum {
	width: 92px;
}
.player-area .player-sub-hei {
	width: 92px;
}
.player-area .player-sub-wei {
	width: 92px;
}
.player-area .player-sub-memo {
	width: 238px;
}
.player-area .player-sub-date {
	width: 180px;
}
.player {
	display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #424254;
    height: 62px;
}
.player .player-name {
	display: flex;
    align-items: center;
    padding: 8px 10px;
    width: 236px;
}
.player-img {
	width: 32px;
	height: 32px; 
	margin-right: 8px;
}
.player .player-name .player-img img {
	width: 32px;
	height: 32px;
	border: 1px solid #ebebeb;
	border-radius: 50%;
}
.player .player-name .player-captain {
	margin-left: 5px;
}
.player .player-name .player-captain img {
	width: 25px;
}
.player .player-backnum {
	text-align: center;
	width: 92px;
}
.player .player-hei {
	text-align: center;
	width: 92px;
}
.player .player-wei {
	text-align: center;
	width: 92px;
}
.player .player-memo {
	text-align: center;
    width: 230px;
    padding: 8px 4px;
}
.player .player-memo .memo-in {
	padding: 4px 8px;
	border: 1px solid #9C9CAD;
	border-radius: 4px;
	background-color: #424254;
	color: #f7f7f9;
	text-align: left;
	font-size: 10pt;
	height: 50px;
}
.player .player-memo .memo-in .player-me {
	overflow: hidden;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.player .player-date {
	text-align: center;
    width: 180px;
}
.photo-area {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.photo-change-label label {
	cursor: pointer;
}
.player-info {
	display: grid;
	grid-template-columns: 50% 50%;
	justify-items: center;
	width: 400px;
    margin: 0 auto;
    gap: 15px 0;
}
.player-info input {
	width: -webkit-fill-available;
}
#pl_pic {
	display: none;
}

.popover-body { /* 팝오버 스타일 (부트스트랩)*/
 	background-color: #424254;
    color: #f7f7f9 !important;
    border: 1px solid #9C9CAD;
    border-radius: 3px;
}
.popover {
	--bs-popover-bg : #9C9CAD;
}
.chart-area {
	display: flex;
	justify-content: center;
	gap: 50px;
	padding: 10px 0;
}
.gender-chart, .age-chart {
	width: 180px;
	height: 180px;
}
.position-chart {
	width: 360px;
}
.formation-box {
	width: -webkit-fill-available;
	height: 100px;
	margin-bottom: 10px;
}
.formation-slide {
	height: -webkit-fill-available;
	width: 890px;
	overflow: hidden;
	margin-left: 24px;
}
.team-formation-list {
	height: 100px;
	width: 300vw;
}
.savedformation {
	border: 1px solid white;
	width: 178px;
	height: 100px;
	float: left;
	background-color: blue;
	color: white;
}

.select-formation {
	display: flex;
}
.back {
	position: relative;
	bottom: 65px;
    width: 25px;
    height: 32px;
    background-color: transparent;
    border: none;
}
.next {
	position: relative;
	bottom: 65px;
	left: 886px;
	width: 25px;
    height: 32px;
    background-color: transparent;
    border: none;
}
.back span, .next span {
	font-size: 25pt;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}
#field {
	width: 580px;
	height: 700px;
	position: relative;
	background: url("../png/pog.png");
    background-size: 580px 700px;
}
.player-card {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: black;
	position: absolute;
}