@charset "UTF-8";
.teamArea {
	display: flex;
    width: 1280px;
    margin: 0 auto;
    padding: 50px 0;
    gap: 20px;
    min-height: 886px;
}
.left-teamInfo {
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    gap: 20px;
    padding: 15px 15px;
    border: 1px solid #ebebeb;
}
.team-tab-info {
	padding-bottom: 16px;
}
.record-content {
	min-height: 682px;
}
.team-img {
	width: 150px;
	height: 150px;
} 
.team-img img {
	border: 1px solid #ebebeb;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.team-info {
	width: 100%;
	text-align: center;
}
.team-info h2 {
	margin-bottom: 15px;
}
.team-info label {
	font-size: 10pt;
    font-weight: 600;
    color: #7F7F7F;
}
.subArea {
	width: 100%;
}
.applyleaveBtn {
	width: -webkit-fill-available;
	height: 40px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
.joinTeam {
	background-color: #035177;
	color: white;
}
.leaveTeam {
	background-color: #b22222;
	color: white;
}
.player-intro p {
	margin: 0;
}
#pl_memo {
	width: 400px;
	resize: none;
	height: 90px;
}
.right-info {
	width: 80%;
    border: 1px solid #ebebeb;
    padding: 0 20px;
}
.team-tab {
	display: flex;
	gap: 20px;
	padding: 16px 0;
}
.team-tab .tab {
	cursor: pointer;
	padding: 6px 4px;
	font-weight: 600;
    color: gray;
}
.tab-content {
	display: none;
}
.team-tab .tab-focus {
	border-bottom: 2px solid;
	color: black;
}
#teamApplyForm {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}
.player-photo {
	width: 150px;
	height: 150px;
	margin: 0 auto;
}
.player-photo img {
	width: inherit;
    height: inherit;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    object-fit: cover;
}
select[name="position"] {
	width: -webkit-fill-available;
}
.stopApply p {
	color: #086ded;
    font-size: 10pt;
    font-weight: bold;
}
.side-top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.side-player {
	display: flex;
}
.side-player > span {
	font-size: 15pt;
}
.side-player > span +span {
	font-size: 10pt;
	font-weight: 600;
}
.side-bottom {
	width: 100%;
}
.side-bottom h4 {
	text-align: center;
}
.side-bottom .side-memo {
    width: 100%;
    border: 1px solid #ebebeb;
    min-height: 80px;
    font-size: 11pt;
}
.player-number {
	padding: 4px 0;
}
.player-number strong {
	color: #b22222;
}
.player-area {
	display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-color: #424254;
	color: #f7f7f9;
	padding: 4px 0;
}
.player-area .player-sub-name {
	width: 238px;
}
.player-area .player-sub-backnum {
	width: 92px;
}
.player-area .player-sub-hei {
	width: 92px;
}
.player-area .player-sub-wei {
	width: 92px;
}
.player-area .player-sub-memo {
	width: 238px;
}
.player-area .player-sub-date {
	width: 180px;
}
.player {
	display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #424254;
    height: 62px;
}
.player .player-name {
	display: flex;
    align-items: center;
    padding: 8px 10px;
    width: 236px;
}
.player-img {
	width: 32px;
	height: 32px; 
	margin-right: 8px;
}
.player-img img {
	width: 32px;
	height: 32px;
	border: 1px solid #ebebeb;
	border-radius: 50%;
	object-fit: cover;
}
.player .player-name .player-captain {
	margin-left: 5px;
}
.player .player-name .player-captain img {
	width: 25px;
	object-fit: cover;
}
.player .player-backnum {
	text-align: center;
	width: 92px;
}
.player .player-hei {
	text-align: center;
	width: 92px;
}
.player .player-wei {
	text-align: center;
	width: 92px;
}
.player .player-memo {
	text-align: center;
    width: 230px;
    padding: 8px 4px;
}
.player .player-memo .memo-in {
	padding: 4px 8px;
	border: 1px solid #9C9CAD;
	border-radius: 4px;
	background-color: #424254;
	color: #f7f7f9;
	text-align: left;
	font-size: 10pt;
	height: 50px;
}
.player .player-memo .memo-in .player-me {
	overflow: hidden;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.player .player-date {
	text-align: center;
    width: 180px;
}
.photo-area {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.photo-change-label label {
	cursor: pointer;
}
.player-info {
	display: grid;
	grid-template-columns: 50% 50%;
	justify-items: center;
	width: 400px;
    margin: 0 auto;
    gap: 15px 0;
}
.player-info input {
	width: -webkit-fill-available;
}
#pl_pic {
	display: none;
}

.popover-body { /* 팝오버 스타일 (부트스트랩)*/
 	background-color: #424254;
    color: #f7f7f9 !important;
    border: 1px solid #9C9CAD;
    border-radius: 3px;
}
.popover {
	--bs-popover-bg : #9C9CAD;
}
.chart-area {
	display: flex;
	justify-content: center;
	gap: 50px;
	padding: 10px 0;
}
.gender-chart, .age-chart {
	width: 180px;
	height: 180px;
}
.position-chart {
	width: 360px;
}
.formation-box {
	width: -webkit-fill-available;
	height: 100px;
	margin-bottom: 10px;
	position: relative;
}
.formation-slide {
	height: -webkit-fill-available;
	width: 890px;
	overflow: hidden;
	margin-left: 24px;
}
.team-formation-list {
	height: 100px;
	width: 300vw;
    background-color: #F2F2F2;
}
.savedformation {
	border: 1px solid white;
	width: 178px;
	height: 100px;
	float: left;
	background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.createFormationBtn {
	border: 1px solid white;
	width: 178px;
	height: 100px;
	float: left;
	background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.select-formation {
	display: flex;
}
.back {
	position: absolute;
	top: 33px;
    width: 25px;
    height: 32px;
    background-color: transparent;
    border: none;
}
.next {
	position: absolute;
	top: 33px;
    right: 0px;
	width: 25px;
    height: 32px;
    background-color: transparent;
    border: none;
}
.back span, .next span {
	font-size: 25pt;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}
.field {
	width: 645px;
	height: 770px;
	position: relative;
	background: url("../png/pog.png");
    background-size: 645px 770px;
}
.player-card {
	border-radius: 50%;
	position: absolute;
	display: flex;
	flex-direction: column;
    align-items: center;
    text-align: center;
}
.player-card img {
	width: 62px;
	height: 62px;
	border-radius: 50%;
    box-sizing: content-box;
    object-fit: cover;
}
.formation-info {
	background-color: #F2F2F2;
	width: 294px;
}
.selectPlayers {
	background-color: #F2F2F2;
	width: 294px;
	height: 770px;
    overflow: auto;
}
.selectPlayers .formation-players {
	cursor: pointer;
}
.formation-players {
	display: flex;
	padding: 10px 8px;
    align-items: center;
    border-bottom: 1px solid;
    background-color: #F2F2F2;
}
.formation-players:last-of-type {
	border: none;
}
.for-player-img {
	margin-right: 10px;
}
.for-player-img img {
	width: 49px;
	height: 49px;
	border: 1px solid #ebebeb;
	border-radius: 50%;
	object-fit: cover;
}
.formationTitle {
	font-size: 18pt;
}
.showFor {
	background-color: #424254;
	color: white;
}
.notFormation {
	width: 890px;
    text-align: center;
    height: 100px;
    font-size: 14pt;
    line-height: 100px;
}
.forPlaterName {
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
	font-size: 10pt;
    background-color: #424254;
    color: white;
    border-radius: 3px;
    padding: 0 4px;
}
.createPlayer {
	cursor: pointer;
}
.focus-player {
	border: 7px solid #ffc107;
}
.selectedPlayer {
    filter: brightness(0.5);
}
.formationInput {
	width: 500px;
	margin: 0 auto 16px auto;
}
#selectFormation {
	padding-right: 8px;
}
.formationInput input[name="formation_name"] {
	width: 40%;
}
.input-group>.form-control:focus,.input-group>.form-select:focus {
	box-shadow: none;
	border-color: #6C757D;
}
.img-box {
	height: 75px;
	width: 75px;
	display: flex;
    align-items: center;
    justify-content: center;
}



.gameResult {
	border: 1px solid #ececee;
	margin-bottom: 20px;
}
.gameTitle {
	background-color: #A88759;
	color: white;
    text-align: center;
}
.gameResultInfo {
	display: flex;
	align-items: center;
    padding: 10px 0;
}
.gameDate {
	width: 20%;
    text-align: center;
}
.gameDate p {
	margin: 0;
}
.center {
	width: 10%;
	text-align: center;
	font-size: 18pt;
	font-weight: bold;
}
.win {
	color: #b22222;
}
.team1 {
	display: flex;
	align-items: center;
	width: 35%;
	justify-content: flex-end;
	gap: 20px;
    font-size: 14pt;
}
.team2 {
	display: flex;
	align-items: center;
	width: 35%;
	gap: 20px;
	font-size: 14pt;
}
.team1 .team1Logo img , .team2 .team2Logo img{
	width: 60px;
	height: 60px;
	object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ebebeb;
}
.notResult {
	text-align: center;
}

.b_write {
	display: flex;
	flex-direction: column;
	border: 1px solid #ebebeb;
}
.b_writer {
	font-weight: bold;
	padding: 5px 10px;
	border-bottom: 1px solid #ebebeb;
}
.b_label {
	padding: 8px 0;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    background-color: #F8F9FA;
}
.b_title, .b_content {
	padding: 8px 10px;
	border-bottom: 1px solid #ebebeb;
}
.b_file {
	padding: 8px 10px;
}
.b_title input[name="board_title"] {
	outline: none;
    border: 1px solid #ebebeb;
    padding: 8px;
    width: -webkit-fill-available;
    background-color: #F8F9FA;
}
.b_content textarea[name="board_content"] {
	outline: none;
    border: 1px solid #ebebeb;
    padding: 8px;
    width: -webkit-fill-available;
    min-height: 440px;
    resize: none;
    background-color: #F8F9FA;
}
.board_write {
	display: none;
}
.write_bottom {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 10px;
}
.writeBtn {
	padding: 0 25px;
	background-color: #444;
	color: #fff;
	border-radius: 3px;
}
.boardTable {
	width: 100%;
	border: 1px solid #ebebeb;
	font-size: 12pt;
}
.boardTable th,.boardTable td {
	padding: 8px 5px;
}
.boardTable thead {
	background-color: #F8F9FA;
	font-weight: bold;
	text-align: center;
}
.boardTable tbody td:nth-of-type(1) {
	text-align: center;
}
.boardTable tbody td:nth-of-type(3) {
	text-align: center;
}
.boardTable tbody td:nth-of-type(4) {
	text-align: center;
}
.boardTable tbody td:nth-of-type(5) {
	text-align: center;
}
.boardNumber {
	width: 9%;
}
.boardWriter {
	width: 15%;
}
.boardCreateDate {
	width: 9%;
}
.boardReadNum {
	width: 9%;
}

.post-area {
	display: flex;
    gap: 15px;
    margin: 10px 0;
    justify-content: flex-end;
}
.page_line {
	display: flex;
    justify-content: center;
    gap: 5px;
    margin: 10px 0;
}
.showBoardDetail {
	cursor: pointer;
}
.articleArea {
	border: 1px solid #ebebeb;
}
.articleHead {
	display: flex;
    margin: 0 0 20px 0;
    padding: 14px 10px 16px;
    background: #f8f8f8;
    border-bottom: 1px solid #ccc;
}
.articleWriter {
	width: 30%;
}
.articleDate {
	width: 40%;
    text-align: center;
}
.articleHit {
	width: 30%;
	text-align: right;
}
.articleMain {
	padding: 15px 20px;
}
.articleTitle {
	margin-bottom: 35px;
}
.articleTitle h1 {
	font-size: 30pt;
}
.articleContent {
    min-height: 444px;
}
.warningText {
	text-align: center;
}
.warningText img {
	width: 200px;
}